.table-container {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

table {
  width: 800px;
  margin-top: 80px;
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
  cursor: pointer;
}

th span {
  margin-left: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

/* Arrow styling */

.arrow-icon {
  /* background-color: lightcoral; */
  height: 10px;
  width: 40px;
  display: inline;
  padding: 0.5em;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.left-bar {
  position: absolute;
  background-color: transparent;
  top: 17px;
  left: -22px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.left-bar:after {
  content: "";
  background-color: white;
  width: 20px;
  height: 6px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.right-bar {
  position: absolute;
  background-color: transparent;
  top: 28px;
  left: -6px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.right-bar:after {
  content: "";
  background-color: white;
  width: 20px;
  height: 6px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

.selectedUser {
  margin-top: 20px;
  text-align: center;
}

.selectedUser-content {
  font-weight: 900;
}

.btn-container {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  gap: 20px;
}

.table-btn {
  width: 140px;
  /* margin-right: 30px; */
}
